* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__contenedor {
  text-align: center;
  

}
.img__principal {
    width: 100%;
}

.text__contenedor {
    background-color: green;
}

.text1 {
    color: white;
    font-size: 26px;
    font-family: 'Fredoka One', cursive;
}
.text2 {
    color: white;
    font-size: 22px;
    font-family: 'Fredoka One', cursive;
}
.text3 {
    color: white;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

iframe {
    
}

h2 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
    background: greenyellow;
    border-radius: 12px;
    
}


.cards__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-group {
    display: flex;
    flex-direction: column;
}
.card-body1 {
 background-color: lightyellow;       
}
.card-body2 {
    background-color: lightskyblue;
}
.card-body3 {
    background-color: lightgreen;  
}
.card-body4 {
    background-color: plum;
}
h5 {
    text-align: center;
    font-size: 28px;
}

.card-text {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: white;
}

.img__final {
    width: 100%;
}
h3 {
    font-size: 38px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    

}



@media screen and (min-width: 480px) {

   /*  .header__contenedor {
     display: flex;
     flex-direction: column;
         */
      
      }
      
      .text__contenedor {
        
          background-color: green;
      }
      
      .text1 {
          font-size: 28px;
      }
      .text2 {
          font-size: 22px;
      }
      .text3 {
          font-size: 22px;
      }
      
      .maps {
          border: 3px;
      }

      h2 {
        text-align: center;
      }
      
      





@media screen and (max-width: 570px) {

    .header__contenedor {
        text-align: center;
        
      
      }
      
      .text__contenedor {
          background-color: green;
      }
      
      .text1 {
          font-size: 18px;
      }
      .text2 {
          font-size: 16px;
      }
      .text3 {
          font-size: 14px;
      }
      
      .maps {
          border: 3px;
      }
      

}